.navbar-div {
    position: flex;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: gray;
    color: white;
    font-family: Arial;
    height: 3.6vw;
    text-align: center;
    display: flex;
    align-items: center;
}

.navbar-div a {
    color: white;
    text-decoration: none;
    padding: 2vw;
    font-size: 1.32em;
}

.top-name {
    padding-top: .5vw;
    text-align: center;
    font-size: 3.2vw;
}

.navbar-div a:hover {
    color: yellow;
    overflow: hidden;
    height: auto;
    width: auto;
}

#cell {
    color: black;
    padding: 1%;
    font-size: 1vw;
}

#info {
    text-align: center;
    height: auto;
    padding-bottom: 2em;
    font-size: 1.0vw;
}

#mailto-link {
    color: black;
    padding: 1%
}

.section-head {
    text-align: justify;
    font-size: 2.5vw;
}

hr {
    width: 75%;
    margin: 0px;
    border: .05vw solid black;
}

li {
    padding-top: .9vw;
    font-size: 1.3vw;
    width: 57%;
    text-align: justify;
    line-height: 1.3vw;
}

.grad-date {
    display: inline;
    padding-left: 20vw;
    font-size: 1.5vw;
}

.degree {
    display: inline;
    font-size: 1.5vw;
}

.work-date {
    display: inline;
    padding-left: 20vw;
    font-size: 1.5vw;
}

#WFM {
    display: inline;
    padding-left: 50vw;
    font-size: 1.5vw;
}

#bb {
    display: inline;
    padding-left: 40vw;
    font-size: 1.5vw;
}

#bdl {
    display: inline;
    padding-left: 45vw;
    font-size: 1.5vw;
}

.bottom-li {
    text-align: justify;
    line-height: 2vw;
    font-size: 1.5vw;
}
.bottom-li2 {
    text-align: justify;
    line-height: 2vw;
    font-size: 1.5vw;
}

#lang {
    padding-left: 2vw;
    font-size: 1.3vw;
    margin: auto;
}
h2{
    font-size: 1.5vw;
}

